MAGENTO_ENDPOINT=https://magento-url.com/
NEXTAUTH_URL=http://localhost:3000/
NO_SECRET="TEST_VOGUISH"
NEXTAUTH_SECRET=TEST_VOGUISH
MODE=PRODUCTION
DEFAULT_STORE_CODE=default
IMAGE_DOMAINS=magento-url.com
NEXT_PUBLIC_ADYEN_CLIENT_KEY=adyen_client_key
NEXT_PUBLIC_ADYEN_ENVIRONMENT=test
NEXT_PUBLIC_ADYEN_MERCHANT_ACCOUNT=merchnat_account_name